<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Display</title>
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      /* tr:nth-child(even) {
        background-color: #dddddd;
      } */
      .btn-edit {
        outline: none;
        background: orange;
        border: none;
        height: 25px;
        width: 60px;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        padding: 5px;
      }
      .btn-del {
        outline: none;
        background: #ff0023;
        border: none;
        height: 25px;
        width: 60px;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        padding: 5px;
      }
    </style>
  </head>
  <body>
    <table>
      <tr>
        <th>Email</th>
        <th>Name</th>
        <th>Sex</th>
        <th>Address</th>
        <th>Birthday</th>
      </tr>
      <% for(let i=0; i < dataTable.length; i++) { %>
      <tr>
        <td><%= dataTable[i].email %></td>
        <td><%= dataTable[i].name %></td>
        <td><%= dataTable[i].sex %></td>
        <td><%= dataTable[i].address %></td>
        <td><%= dataTable[i].birthday %></td>
        <td>
          <a
            href="/edit-crud?id=<%=dataTable[i].id%>"
            type="button"
            class="btn-edit"
            >Edit</a
          >
          <a
            href="/del-crud?id=<%=dataTable[i].id%>"
            type="button"
            class="btn-del"
            >Delete</a
          >
        </td>
      </tr>
      <% } %>
    </table>
  </body>
</html>
